<!DOCTYPE html>
<html lang="en">
<head>
    <title>Note Details</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <!-- Adding link to go back to main page-->
     <a href="/">Go Back</a>

     <!-- Adding the note content (from DB)-->
     <h1><%= note.title %></h1>
     
     <p><%= note.content %></p>
     
    
</body>
</html>