<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title><%= title %></title>
    
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <header>
        <h1><%= title %></h1>
    </header>

    <main>
        <h2>Her er lidt ekstra information</h2>
        <p>Dette er en helt ny underside, som vi har navigeret til via Express Routing!</p>
        
        <div style="margin-top: 30px; text-align: center;">
            <a href="/" class="nav-knap">Tilbage til forsiden</a>
        </div>
    </main>
</body>
</html>